<div class="text-gray-400 mx-5 my-5">
  <div class="flex justify-between items-center">

    <ul class="flex ml-40 space-x-20">
      <li class="hover:text-white hover:-translate-y-1 transition-all duration-300"><a routerLink="/home">Home</a></li>
      <li class="hover:text-white hover:-translate-y-1 transition-all duration-300"><a routerLink="/profile">Profiles</a></li>
    </ul>
    <h1 class="text-white text-3xl font-serif hover:scale-110 transition-all duration-500"><a routerLink="">DHRUVAM</a></h1>
    <ul class="flex mr-40 space-x-20">
      <li class="hover:text-white hover:-translate-y-1 transition-all duration-300"><a routerLink="/project">Projects</a></li>
      <li class="hover:text-white hover:-translate-y-1 transition-all duration-300"><a routerLink="/contact">Contact</a></li>
    </ul>
  </div>
</div>